<!doctype html>
<html ng-app="zombieApp" ng-controller="mainController">
    <head>
        <title>ZombieTweeter</title>
        <link rel="stylesheet" type="text/css" href="./main.css" />
        <meta charset="utf-8">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/angular-resource/angular-resource.js"></script>
        <script src="./core.js"></script>
    </head>
    <body>
        <div id="interface">
            <h1>ZombieTweeter</h1>
            <p id="tagline">Live tweets, revived.</p>
            <p id="note"><i>note: due to data limitations, zombietweeter can only revive tweets from the last 30 days.</i></p>
            <label>Hashtag: #
                <input type="text" ng-model="inputHashtag" ng-required="true" placeholder="e.g. HTGAWM" ng-disabled="feedStarted">
            </label><br/>
            <label>Date:
                <input type="date" ng-model="inputDate" ng-required="true" ng-disabled="feedStarted">
            </label><br/>
            <label>Time:
                <input type="time" ng-model="inputStartTime" ng-required="true" ng-disabled="feedStarted"> - 
                <input type="time" ng-model="inputEndTime" ng-required="true" ng-disabled="feedStarted">
            </label><br/>
            <button type="button" ng-click='fetchData()' ng-disabled="feedStarted">See Tweets</button>
            <p id="err" ng-if="!feedStarted"><i>{{errorMessage}}</i><p>
            <p id="prog" ng-if="feedStarted"><i>Displaying tweets created on {{timerDate}} at {{timerTime}}.</i><p>
            <div id="tweetList"></div>
        </div>
    </body>
</html>