body{
	font-family: Avenir;
	text-align: center;
	background-color: #0087ff;
	justify-content: center;
}
 
h1 {
	font-size: 50pt;
	color: white;
}

#note {
	font-size: 8pt;
	color: white;
}

#tagline {
	font-size: 20pt;
	color: white;
}

#interface {
	justify-content: center;
	font-size: 15pt;
	color: white;
}

#err {
	justify-content: center;
	font-size: 8pt;
	color: red;
}

#prog {
	justify-content: center;
	font-size: 12pt;
	color: white;
}